/* TableStyles.css */

.table-container {
    width: 100%;
    overflow-x: auto;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

.table-container th, .table-container td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    height: 18px;
}
.table_container_header{
    background-color: #e1e0e0;
    font-weight: bold;
}
.semi_finsided{
    background-color: #8dee86;
}
.type_component{
    background-color: #f09393;
}
.operations{
    background-color: #f0e093;
}
.finishing{
    background-color: #93f0e0;
}