.home {
    position: relative;
    height: 120vh;
    font-size: 16px;
  }
  
  .home::before {
    content: "";
    background-image: url('./../../public/es.png');
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3; /* adjust as needed */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
  }
.beautiful-table {
    width: 100%;
    border-collapse: collapse;
}

.beautiful-table th, .beautiful-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.beautiful-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

nav {
    background-color: #f8f9fa;
    padding: 10px;
    height: 60px;
    font-size: 12px !important;
    letter-spacing: 3px;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    height: 100%;
    font-weight: bold;
}

nav ul li {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li:hover {
    color: #007bff;
}
nav ul li.active {
    color: #007bff;
  }